
.nav-item:active li  {
  color: #193948;
  
}

.nav-item .active{
  background-color: #193948;
}

.nav-item{
  background-color: #ffffff;
  border: #193948;
  box-shadow: #193948;
  color: #ffffff;
  cursor: default;
  display: flex;
  flex-direction: column;
 /*  transition: background-color s, transform 0.1s; */

}
/* 
.nav-item:hover {
  box-shadow: 0 0.125em 0.125em #193948;
  color: #ffffff;
  background-color: #193948;
 transform: translate(0, -0.063em);
}
 */

.nav-item:link {
  /* style links */
  color: white;
  background-color: #193948;
  
  
}

.nav-item:visited {
  /* style visited link */
  color: white;
  background-color: #193948;
  
}

.nav-item:hover {
  /* hover styles */
  color: white;
  background-color: #193948;
  
  
}






