<div class="container-fluid">
  <div class="col-md-12 col-xs-12 col-xl-12 col-lg-12 col-sm-12 ml-5">


    <div class="row">

      <div class="col-md-3 col-xs-12 col-xl-3 col-lg-3 col-sm-3 ml-5">


        <div class="text-center">
          <div class="form-group"></div>
          <div class="form-group"></div>



          <h5 class="title"><i class="fa fa-lightbulb-o " aria-hidden="true"></i>Smart Filters</h5>
          <hr class="ray">
        </div>
        <div class="col-md-12 col-xs-12 col-xl-12 col-lg-12 col-sm-12">
          <div class="row">
            <div class="col-6">
              <div class="text-center">
                <img alt="imagen-resposive" class="img-fluid" src="../assets/images/sale.png" alt="">
              </div>
            </div>
            <div class="col-6 text-center">
              <mat-card-content>
                <section class="example-section">
                  <mat-slide-toggle class="example-margin" color="primary" checked="false" disabled="false">
                  </mat-slide-toggle>
                </section>
              </mat-card-content>
            </div>
          </div>


          <div class="form-group"></div>
          <div class="row">
            <div class="col-6">

              <div class="text-center">
                <img alt="imagen-resposive" class="img-fluid" src="../assets/images/calendar.png" alt="">
              </div>
            </div>
            <div class="col-6 text-center" >
              <mat-card-content>
                <section class="example-section">
                  <mat-slide-toggle class="example-margin" color="primary" checked="false" disabled="false">
                  </mat-slide-toggle>
                </section>
              </mat-card-content>
            </div>
          </div>


          <div class="form-group"></div>
          <div class="row">
            <div class="col-6">
              <div class="text-center">
                <img alt="imagen-resposive" class="img-fluid" src="../assets/images/hear.png" alt="">
              </div>
            </div>
            <div class="col-6 text-center">
              <mat-card-content>
                <section class="example-section">
                  <mat-slide-toggle class="example-margin" color="primary" checked="false" disabled="false">
                  </mat-slide-toggle>
                </section>
              </mat-card-content>
            </div>
          </div>
          <div class="form-group"></div>
        </div>
        <hr class="ray">
        <div class="text-center">
          <h5 class="title">Status</h5>

        </div>
        <div class="form-group"></div>

        <div class="row">
          <div class="col-md-12 col-xs-12 col-xl-12 col-lg-12 col-sm-12">
            <div class="col-md-3 col-xs-12 col-xl-3 col-lg-3 col-sm-3">
              <div class="text-center">    
                          <form class="form-inline  my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="&#xF002; Search" aria-label="Search">
              

              </form>
            </div>
            </div>
          </div>
        </div>
        <div class="form-group"></div>

        <div class="row">
          <div class="col-md-12 col-xs-12 col-xl-12 col-lg-12 col-sm-12">
            <div class="col text-center">
              <button mat-stroked-button routerLink=".">DELIVERED</button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8 col-xs-12 col-xl-8 col-lg-8 col-sm-8">
          <div class="row">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()"
                                color="warn">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)"
                                color="warn">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="day">
                <th mat-header-cell *matHeaderCellDef> Day </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="street">
                <th mat-header-cell *matHeaderCellDef> Street </th>
                <td mat-cell *matCellDef="let element"> {{element.street}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef> Icon </th>
                <td mat-cell *matCellDef="let element">
                    <i class="{{element.icon}}" aria-hidden="true"></i>

                   </td>
              </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let element"> $ {{element.price}} </td>
                </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef> Quantity </th>
                      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                    </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="selection.toggle(row)">
              </tr>
            </table>

          </div>
        </div>





    </div>


  </div>
</div>
