table{
  width: 100%;
 }
 th.mat-header-cell {
  text-align: center !important;
}
td.mat-cell-cell {
  text-align: center !important;
}


.ray{
  size: 25px;
  color: gray;
}

.rar2{
  height: 100%;
  color: gray;
  border-right:  solid gray;

}

